@page "/client"
@rendermode RenderMode.InteractiveWebAssembly
<PageTitle>Client</PageTitle>

<h1>Client mode</h1>

<p role="status">Current count: @currentCount</p>
<button class="btn btn-primary" @onclick="Increment">Increment</button>
<button class="btn btn-primary" @onclick="TestInteractive">Test .NET interactive</button>
<div>Response: @response</div>

@code {
    private int currentCount = 0;
    private string response = "";

    private async Task TestInteractive()
    {
        Console.WriteLine($"interactive started");

        response = await Blazor.Interactive.Test.run(currentCount);
    }

    private void Increment()
    {
        currentCount++;
    }
}
